@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap");

*{
/* box-sizing: border-box; */
margin: 0;
padding: 0;
}
/* a{
 text-decoration: none;

} */

body{
/* sbackground-color: #f0f2f5; */
background: url('bg3.jpg') no-repeat center center fixed ;
background-size: cover;
background-repeat: repeat;

}
body img{
  position: absolute;
  top: 30%;
  left: 10%;

}

.container{
/* border: 3px solid purple; */
background-color: none;
border-radius: 15px;
width: 380px;
max-width: 100%;
max-height: 100%;
position: absolute;
top: 17%;
left: 35%;
}

#togglePassword{
    /* margin-right: 30px; */
    cursor: pointer;
    color:white;
    text-align: center;
    padding: 10px 10px;
}
.box i{
color:green;
text-align: center;
padding: 3px;

}
.container h1{


color: white;
text-align:center;
font-size:40px;
/* border-bottom:3px solid purple; */
margin-bottom: 20px;
padding: 13px 0px;

}

.box{
width: 100%;
margin: 15px 0px;
border-bottom:  1px solid green;
}

.box input{
width: 75%;
font-size: 20px;
/* margin: 12px 0px ; */
padding: 15px 10px;;
border: none;
outline: none;
color: #ffffff;
background: none;

}


#btn{
cursor: pointer;
outline: none;
background: none;
color: #ffffff;
border-radius: 15px;
width: 100%;
padding: 10px;
margin: 20px 0px ;
/* margin-left: 1px */
border: 2px solid green;

}
#btn:hover{
color: purple;
background: white;
}

#btn1{
cursor: pointer;
outline: none;
background: none;
color: #ffffff;
border-radius: 15px;
width: 100%;
padding: 10px;
margin-bottom: 5px ;

/* margin-left: 1px */
border: 2px solid green;

}
#btn1:hover{
color: purple;
background: white;
}
